.main{
    min-height: 100vh !important;
}
a:hover,
a:active, 
a:visited, 
a:focus{
    text-decoration: none !important ;
}
.coll{
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 10px 0 20px;
}
ul {
    list-style-type: none;
    }

/*css de page inscription et conx*/
.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #ee5a67;
}
body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(77, 75, 75, 0.5), rgba(94, 92, 92, 0.5)), url(bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #DC143C;
}
.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #DC143C;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}
.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #DC143C;
}


.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-social a.linkedin:hover {
    background: #9fa3a5;
}

.container .login-social a.twitter:hover {
    background: #9fa3a5;
}

.container .login-social a.google-plus:hover {
    background: #ca4334;
}

.container .login-social a.linkedin {
    background: #9fa3a5;
}

.container .login-social a.facebook:hover {
    background: #9fa3a5;
}

.container .login-social a i {
    margin-right: 5px;
}

.container .login-social a.facebook {
    background: #9fa3a5;
}

.container .login-social a.twitter {
    background: #9fa3a5;
}

.container .login-social a.google-plus {
    background: #db4a39;
}

.container .login-social a {
    padding: 12px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
    transition: .3s;
}

.container .login-social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin-bottom: 25px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.hh {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}
.btne{
    color: blanchedalmond;
    background-color: #DC143C;
}

.hhc{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
    
}

.hhj{
    padding-bottom: 40px;
}
